<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>TM Code Test</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <div {{ react_component('Users') }}>
        Loading...
    </div>

    {{ encore_entry_script_tags('app') }}
</body>
</html>